<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<div x-data>
  <div
    class="p-3 text-center"
    :style="`
      color: ${$store.section.color};
      background-color: ${$store.section.background};
    `"
  >
    <div class="swiper">
      <ul class="swiper-wrapper"></ul>
    </div>
  </div>

  <details class="absolute p-4 bg-white border rounded-lg right-4 bottom-4">
    <summary class="text-xs font-medium">
      Edit Section
    </summary>

    <div class="grid grid-cols-2 gap-4 mt-4">
      <div class="col-span-2">
        <label
          for="link"
          class="block text-xs"
        >
          Link
        </label>

        <input
          type="text"
          id="link"
          class="w-full mt-1 text-xs border-gray-200 rounded"
          x-model="$store.slider.link"
          @input="$store.schema.generate"
        >
      </div>

      <div class="col-span-2">
        <label
          for="text"
          class="block text-xs"
        >
          Text
        </label>

        <input
          type="text"
          id="text"
          class="w-full mt-1 text-xs border-gray-200 rounded"
          x-model="$store.slider.text"
          @input="$store.schema.generate"
        >
      </div>

      <div>
        <label
          for="color"
          class="flex items-center justify-center p-2 border rounded cursor-pointer"
        >
          <span class="text-xs font-medium">
            Color
          </span>

          <span
            :style="`background-color: ${$store.section.color};`"
            class="w-5 h-5 ml-1.5 rounded border flex-shrink-0"
          ></span>
        </label>

        <input
          type="color"
          id="color"
          class="sr-only"
          x-model="$store.section.color"
          @input="$store.schema.generate"
        >
      </div>

      <div>
        <label
          for="background"
          class="flex items-center justify-center p-2 border rounded cursor-pointer"
        >
          <span class="text-xs font-medium">
            Background
          </span>

          <span
            :style="`background-color: ${$store.section.background};`"
            class="w-5 h-5 ml-1.5 rounded border flex-shrink-0"
          ></span>
        </label>

        <input
          type="color"
          id="background"
          class="sr-only"
          x-model="$store.section.background"
          @input="$store.schema.generate"
        >
      </div>

      <template x-if="$store.slider.items.length > 0">
        <ul class="col-span-2 p-3 border rounded">
          <template x-for="(item, index) in $store.slider.items">
            <li class="flex justify-between p-1.5 text-xs rounded hover:bg-gray-50">
              <p class="font-medium">
                Announcement <span x-text="index + 1"></span>
              </p>

              <button
                type="button"
                class="text-gray-500 underline rounded"
                @click="$store.slider.remove(index)"
              >
                Remove
              </button>
            </li>
          </template>
        </ul>
      </template>

      <template x-if="$store.slider.items.length === 0">
        <div class="col-span-2 p-3 border rounded">
          <p class="text-xs text-center text-gray-500">
            No announcements added yet.
          </p>
        </div>
      </template>

      <div class="col-span-2">
        <button
          type="button"
          class="w-full px-5 py-3 text-xs font-medium bg-gray-100 border rounded"
          @click="$store.slider.add"
        >
          Add Announcement
        </button>
      </div>
    </div>
  </details>
</div>

<script>
  document.addEventListener('alpine:init', () => {
    Alpine.store('slider', {
      link: '',
      text: 'Our Latest Product',
      items: [],

      add() {
        const { link, text } = slider
        const newItems = [...slider.items, { link, text }]

        slider.items = newItems

        swiper.appendSlide(`
          <li class="swiper-slide">
            <p class="text-sm font-medium">
              ${slider.link
                ? `<a href="${slider.link}">${slider.text}</a>`
                : `<span>${slider.text}</span>`
              }
            </p>
          </li>
        `)

        slider.update()
      },

      remove(index) {
        const newItems = slider.items.filter((item, itemIndex) => itemIndex !== index);

        slider.items = newItems;

        swiper.removeSlide(index)
        slider.update()
      },

      update() {
        const allowMove = slider.items.length > 1

        allowMove ? swiper.autoplay.start() : swiper.autoplay.stop()

        schema.generate()
      }
    })

    Alpine.store('section', {
      background: '#000000',
      color: '#ffffff',
      slider: false,
    })

    Alpine.store('schema', {
      data: {},

      generate() {
        const firstSlide = slider.items[0]

        const schemaData = {
          name: "Announcement",
          tag: "aside",
          settings: [
            {
              id: "show_announcement",
              label: "Show",
              type: "checkbox",
              default: true,
            },
            {
              id: "announcement_background_color",
              label: "Background Color",
              type: "color",
              default: section.background
            },
            {
              id: "announcement_text_color",
              label: "Text Color",
              type: "color",
              default: section.color
            }
          ],
          blocks: [
            {
              name: "Announcement",
              type: "announcement",
              settings: [
                {
                  id: "announcement_text",
                  label: "Announcement Text",
                  type: "text",
                  default: firstSlide?.text
                },
                {
                  id: "announcement_link",
                  label: "Announcement Link",
                  type: "url",
                  default: firstSlide?.link
                }
              ]
            }
          ]
        }

        localStorage.removeItem('componentAnnouncementSchema')
        localStorage.setItem('componentAnnouncementSchema', JSON.stringify(schemaData, null, 2))
      }
    })

    const schema = Alpine.store('schema')
    const section = Alpine.store('section')
    const slider = Alpine.store('slider')

    const swiper = new Swiper('.swiper', {
      loop: true,
      slidesPerView: 1,
      allowTouchMove: false,
      autoplay: { delay: 3000 },
    })

    slider.add()
    schema.generate()
  })
</script>
