<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<div x-data>
  <div
    class="p-3 text-center"
    :style="`background-color: ${$store.section.background}; color: ${$store.section.color};`"
  >
    <div
      class="swiper"
      x-show="$store.section.slider"
    >
      <ul class="swiper-wrapper"></ul>
    </div>

    <p
      x-show="!$store.section.slider"
      class="text-sm font-medium"
    >
      <template x-if="$store.section.link">
        <a
          x-text="$store.section.text"
          :href="$store.section.link"
        ></a>
      </template>

      <template x-if="!$store.section.link">
        <span x-text="$store.section.text"></span>
      </template>
    </p>
  </div>

  <details class="absolute p-4 bg-white border rounded-lg right-4 bottom-4">
    <summary class="text-xs font-medium">
      Edit Section
    </summary>

    <div class="grid grid-cols-2 gap-4 mt-4">
      <div class="col-span-2">
        <label
          for="link"
          class="block text-xs"
        >
          Link
        </label>

        <input
          type="text"
          id="link"
          class="w-full mt-1 text-xs border-gray-200 rounded"
          x-model="$store.section.link"
          @input="$store.section.generate"
        >
      </div>

      <div class="col-span-2">
        <label
          for="text"
          class="block text-xs"
        >
          Text
        </label>

        <input
          type="text"
          id="text"
          class="w-full mt-1 text-xs border-gray-200 rounded"
          x-model="$store.section.text"
          @input="$store.section.generate"
        >
      </div>

      <div>
        <label
          for="color"
          class="flex items-center justify-center p-2 border rounded cursor-pointer"
        >
          <span class="text-xs font-medium">
            Color
          </span>

          <span
            :style="`background-color: ${$store.section.color};`"
            class="w-5 h-5 ml-1.5 rounded border flex-shrink-0"
          ></span>
        </label>

        <input
          type="color"
          id="color"
          class="sr-only"
          x-model="$store.section.color"
          @input="$store.section.generate"
        >
      </div>

      <div>
        <label
          for="background"
          class="flex items-center justify-center p-2 border rounded cursor-pointer"
        >
          <span class="text-xs font-medium">
            Background
          </span>

          <span
            :style="`background-color: ${$store.section.background};`"
            class="w-5 h-5 ml-1.5 rounded border flex-shrink-0"
          ></span>
        </label>

        <input
          type="color"
          id="background"
          class="sr-only"
          x-model="$store.section.background"
          @input="$store.section.generate"
        >
      </div>

      <template x-if="$store.section.slider && $store.section.items.length > 0">
        <ul class="col-span-2 px-4 py-2 space-y-1 border rounded">
          <template x-for="(item, index) in $store.section.items">
            <li class="flex justify-between text-xs">
              <p class="font-medium ">
                Slide <span x-text="index + 1"></span>
              </p>

              <button
                type="button"
                class="text-gray-500 underline rounded"
                @click="$store.section.remove(index)"
              >
                Remove
              </button>
            </li>
          </template>
        </ul>
      </template>

      <button
        type="button"
        class="w-full p-2 text-xs font-medium border rounded"
        @click="$store.section.toggle"
      >
        Toggle Slider
      </button>

      <template x-if="$store.section.slider">
        <button
          type="button"
          class="w-full p-2 text-xs font-medium border rounded"
          @click="$store.section.add"
        >
          Add Slide
        </button>
      </template>
    </div>
  </details>
</div>

<script>
  document.addEventListener('alpine:init', () => {
    Alpine.store('section', {
      background: '#000000',
      color: '#ffffff',
      data: {},
      items: [],
      link: '',
      slider: false,
      text: 'Our Latest Products',

      toggle() {
        self.reset()
        self.slider = !self.slider
        self.text = self.slider ? 'Example Slide Item' : 'Our Latest Products'

        if (self.slider) {
          self.items = []

          self.add()
        }
      },

      add() {
        self.items.push({
          text: self.text,
          link: self.link
        })

        swiper.appendSlide(`
          <li class="swiper-slide">
            <p class="text-sm font-medium">
              ${self.link
                ? `<a href="${self.link}">${self.text}</a>`
                : `<span>${self.text}</span>`}
            </p>
          </li>
        `)

        self.reset()
        self.autoplay()
        self.generate()
      },

      remove(index) {
        self.items.splice(index, 1)

        swiper.removeSlide(index)
        self.autoplay()
        self.generate()
      },

      reset() {
        self.text = ''
        self.link = ''
      },

      autoplay() {
        self.items.length > 1
          ? swiper.autoplay.start()
          : swiper.autoplay.stop()
      },

      generate() {
        let schemaData = {
          name: 'Announcement',
          tag: 'aside',
          settings: [
            {
              label: 'Show Announcement',
              id: 'show_announcement',
              type: 'checkbox',
              default: true
            },
            {
              label: 'Announcement Text',
              id: 'announcement_text',
              type: 'text',
              default: self.text
            },
            {
              label: 'Announcement URL',
              id: 'announcement_url',
              type: 'url',
              default: self.link
            },
            {
              label: 'Announcement Background Color',
              id: 'announcement_background_color',
              type: 'color',
              default: self.background
            },
            {
              label: 'Announcement Text Color',
              id: 'announcement_text_color',
              type: 'color',
              default: self.color
            }
          ],
        }

        if (self.slider) {
          let blocksData = {
            name: "Slide",
            type: "slide",
            settings: []
          }

          let blockSettings = self.items.map((item) => {
            return [
              {
                "label": "Slide Text",
                "id": "slide_text",
                "type": "text",
                "default": item.text
              },
              {
                "label": "Slide Link",
                "id": "slide_link",
                "type": "url",
                "default": item.link
              }
            ]
          })

          blocksData.settings = blocksData.settings.concat(blockSettings)

          if (blocksData.settings.length > 0) {
            schemaData.blocks = [blocksData]
          }
        }

        if (!self.slider) {
          schemaData.blocks = []
        }

        self.data = schemaData

        localStorage.removeItem('componentAnnouncementSchema')
        localStorage.setItem('componentAnnouncementSchema', JSON.stringify(self.data, null, 2))
      }
    })

    const swiper = new Swiper('.swiper', {
      loop: true,
      slidesPerView: 1,
      autoplay: { delay: 3000 },
    })

    const self = Alpine.store('section')

    self.generate()
  })
</script>
